<% if post.email.to_s == current_user.email.to_s %>
  <div class="card border-secondary mb-3" >
    <div class="card-header"><%= post.created_at.to_s %></div>
    <div class="card-body">
      <h6 class="card-subtitle mb-2 text-muted"><% post.created_at.to_s %></h6>
      <p class="card-text"><%= post.content %></p>
      <p> <%= link_to "Options", post, class:"link-info link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover" %> </p>
    </div>
  </div>
  </br></br>
<% end %>