<h1>Editing post</h1>

<%= render "form", post: @post %>

<br>

<div>
  <%= link_to "Show this post", @post, class:"link-primary link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover" %>
</div>
