<p style="color: green"><%= notice %></p>

<h1>Your Posts</h1>
</br></br>

<div id="posts">
  <% @posts.each do |post| %>
    <% if post.email.to_s == current_user.email.to_s %>
      <%= render post %>
    <% end %>
  <% end %>
</div>

<div class="card text-white bg-success" style="max-width: 7rem;">
  <div class="card-body">
    <h6 class="card-title"><%= link_to "New post", new_post_path, class:"link-light link-offset-2 link-underline-opacity-0" %></h6>
  </div>
</div>
